.cus-text-secondary[b-0oxfsyqc1h] {
    color: #F5F5F5 ;
}

.btn.btn-primary[b-0oxfsyqc1h] {
    color: #3D464D !important;
}
.btn-primary[b-0oxfsyqc1h] {
    background-color: #FFD333;
    border-color: #FFD333;
}

.cus-text-primary[b-0oxfsyqc1h] {
    color: #FFD333;
}

.cus-bg-dark[b-0oxfsyqc1h] {
    background-color: #3D464D;
}

a[b-0oxfsyqc1h] {
    text-decoration: none;
    background-color: transparent;
}
a:hover[b-0oxfsyqc1h] {
  color: #e6b400;
 }

.cus-form-control:focus[b-0oxfsyqc1h] {
    border-color: none !important;
    box-shadow: none !important;
}