
.div-container[b-lhr4e99oyx] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}

.loader[b-lhr4e99oyx] {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgb(24, 148, 242); /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin-b-lhr4e99oyx 1s linear infinite;
}

@keyframes spin-b-lhr4e99oyx {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}