a:hover[b-onszy8etwi] {
    color: #e6b400;
    text-decoration: underline;
}

a[b-onszy8etwi] {
    text-decoration: none;
    background-color: transparent;
}

.cus-font-weight[b-onszy8etwi] {
    font-weight: 700;
    color: #3D464D;
}