
.table[b-fc9ad5bfk9] {
    width: 100%;
    margin-bottom: 1rem;
    color: #6C757D;
}

    .table th[b-fc9ad5bfk9],
    .table td[b-fc9ad5bfk9] {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th[b-fc9ad5bfk9] {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody[b-fc9ad5bfk9] {
        border-top: 2px solid #dee2e6;
    }

.table-sm th[b-fc9ad5bfk9],
.table-sm td[b-fc9ad5bfk9] {
    padding: 0.3rem;
}

.table-bordered[b-fc9ad5bfk9] {
    border: 1px solid #dee2e6;
}

    .table-bordered th[b-fc9ad5bfk9],
    .table-bordered td[b-fc9ad5bfk9] {
        border: 1px solid #dee2e6;
    }

    .table-bordered thead th[b-fc9ad5bfk9],
    .table-bordered thead td[b-fc9ad5bfk9] {
        border-bottom-width: 2px;
    }

.table-borderless th[b-fc9ad5bfk9],
.table-borderless td[b-fc9ad5bfk9],
.table-borderless thead th[b-fc9ad5bfk9],
.table-borderless tbody + tbody[b-fc9ad5bfk9] {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd)[b-fc9ad5bfk9] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover[b-fc9ad5bfk9] {
    color: #6C757D;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary[b-fc9ad5bfk9],
.table-primary > th[b-fc9ad5bfk9],
.table-primary > td[b-fc9ad5bfk9] {
    background-color: #fff3c6;
}

.table-primary th[b-fc9ad5bfk9],
.table-primary td[b-fc9ad5bfk9],
.table-primary thead th[b-fc9ad5bfk9],
.table-primary tbody + tbody[b-fc9ad5bfk9] {
    border-color: #ffe895;
}

.table-hover .table-primary:hover[b-fc9ad5bfk9] {
    background-color: #ffeead;
}

.table-hover .table-primary:hover > td[b-fc9ad5bfk9],
.table-hover .table-primary:hover > th[b-fc9ad5bfk9] {
    background-color: #ffeead;
}

.table-secondary[b-fc9ad5bfk9],
.table-secondary > th[b-fc9ad5bfk9],
.table-secondary > td[b-fc9ad5bfk9] {
    background-color: #fcfcfc;
}

.table-secondary th[b-fc9ad5bfk9],
.table-secondary td[b-fc9ad5bfk9],
.table-secondary thead th[b-fc9ad5bfk9],
.table-secondary tbody + tbody[b-fc9ad5bfk9] {
    border-color: #fafafa;
}

.table-hover .table-secondary:hover[b-fc9ad5bfk9] {
    background-color: #efefef;
}

.table-hover .table-secondary:hover > td[b-fc9ad5bfk9],
.table-hover .table-secondary:hover > th[b-fc9ad5bfk9] {
    background-color: #efefef;
}

.table-success[b-fc9ad5bfk9],
.table-success > th[b-fc9ad5bfk9],
.table-success > td[b-fc9ad5bfk9] {
    background-color: #c3e6cb;
}

.table-success th[b-fc9ad5bfk9],
.table-success td[b-fc9ad5bfk9],
.table-success thead th[b-fc9ad5bfk9],
.table-success tbody + tbody[b-fc9ad5bfk9] {
    border-color: #8fd19e;
}

.table-hover .table-success:hover[b-fc9ad5bfk9] {
    background-color: #b1dfbb;
}

    .table-hover .table-success:hover > td[b-fc9ad5bfk9],
    .table-hover .table-success:hover > th[b-fc9ad5bfk9] {
        background-color: #b1dfbb;
    }

.table-info[b-fc9ad5bfk9],
.table-info > th[b-fc9ad5bfk9],
.table-info > td[b-fc9ad5bfk9] {
    background-color: #bee5eb;
}

    .table-info th[b-fc9ad5bfk9],
    .table-info td[b-fc9ad5bfk9],
    .table-info thead th[b-fc9ad5bfk9],
    .table-info tbody + tbody[b-fc9ad5bfk9] {
        border-color: #86cfda;
    }

.table-hover .table-info:hover[b-fc9ad5bfk9] {
    background-color: #abdde5;
}

    .table-hover .table-info:hover > td[b-fc9ad5bfk9],
    .table-hover .table-info:hover > th[b-fc9ad5bfk9] {
        background-color: #abdde5;
    }

.table-warning[b-fc9ad5bfk9],
.table-warning > th[b-fc9ad5bfk9],
.table-warning > td[b-fc9ad5bfk9] {
    background-color: #ffeeba;
}

    .table-warning th[b-fc9ad5bfk9],
    .table-warning td[b-fc9ad5bfk9],
    .table-warning thead th[b-fc9ad5bfk9],
    .table-warning tbody + tbody[b-fc9ad5bfk9] {
        border-color: #ffdf7e;
    }

.table-hover .table-warning:hover[b-fc9ad5bfk9] {
    background-color: #ffe8a1;
}

    .table-hover .table-warning:hover > td[b-fc9ad5bfk9],
    .table-hover .table-warning:hover > th[b-fc9ad5bfk9] {
        background-color: #ffe8a1;
    }

.table-danger[b-fc9ad5bfk9],
.table-danger > th[b-fc9ad5bfk9],
.table-danger > td[b-fc9ad5bfk9] {
    background-color: #f5c6cb;
}

.table-danger th[b-fc9ad5bfk9],
.table-danger td[b-fc9ad5bfk9],
.table-danger thead th[b-fc9ad5bfk9],
.table-danger tbody + tbody[b-fc9ad5bfk9] {
    border-color: #ed969e;
}

.table-hover .table-danger:hover[b-fc9ad5bfk9] {
    background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td[b-fc9ad5bfk9],
.table-hover .table-danger:hover > th[b-fc9ad5bfk9] {
    background-color: #f1b0b7;
}

.table-light[b-fc9ad5bfk9],
.table-light > th[b-fc9ad5bfk9],
.table-light > td[b-fc9ad5bfk9] {
    background-color: white;
}

.table-light th[b-fc9ad5bfk9],
.table-light td[b-fc9ad5bfk9],
.table-light thead th[b-fc9ad5bfk9],
.table-light tbody + tbody[b-fc9ad5bfk9] {
    border-color: white;
}

.table-hover .table-light:hover[b-fc9ad5bfk9] {
    background-color: #f2f2f2;
}

.table-hover .table-light:hover > td[b-fc9ad5bfk9],
.table-hover .table-light:hover > th[b-fc9ad5bfk9] {
    background-color: #f2f2f2;
}

.table-dark[b-fc9ad5bfk9],
.table-dark > th[b-fc9ad5bfk9],
.table-dark > td[b-fc9ad5bfk9] {
    background-color: #c9cbcd;
}

.table-dark th[b-fc9ad5bfk9],
.table-dark td[b-fc9ad5bfk9],
.table-dark thead th[b-fc9ad5bfk9],
.table-dark tbody + tbody[b-fc9ad5bfk9] {
    border-color: #9a9fa2;
}

.table-hover .table-dark:hover[b-fc9ad5bfk9] {
    background-color: #bcbec1;
}

.table-hover .table-dark:hover > td[b-fc9ad5bfk9],
.table-hover .table-dark:hover > th[b-fc9ad5bfk9] {
    background-color: #bcbec1;
}

.table-active[b-fc9ad5bfk9],
.table-active > th[b-fc9ad5bfk9],
.table-active > td[b-fc9ad5bfk9] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover[b-fc9ad5bfk9] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td[b-fc9ad5bfk9],
.table-hover .table-active:hover > th[b-fc9ad5bfk9] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th[b-fc9ad5bfk9] {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table .thead-light th[b-fc9ad5bfk9] {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark[b-fc9ad5bfk9] {
    color: #fff;
    background-color: #343a40;
}

.table-dark th[b-fc9ad5bfk9],
.table-dark td[b-fc9ad5bfk9],
.table-dark thead th[b-fc9ad5bfk9] {
    border-color: #454d55;
}

.table-dark.table-bordered[b-fc9ad5bfk9] {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd)[b-fc9ad5bfk9] {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover[b-fc9ad5bfk9] {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

.input-group[b-fc9ad5bfk9] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
