label[b-vofd0wxtm8]{
   margin-bottom:0.5rem;
}

h5[b-vofd0wxtm8], .h5[b-vofd0wxtm8] {
    font-size: 1.25rem;
    color: #3D464D;
    font-weight:700 !important;
}
h6[b-vofd0wxtm8] {
    line-height: 1.2;
    color: #3D464D;
    font-weight: 700 !important;
}

.custom-control[b-vofd0wxtm8] {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.font-weight-bold[b-vofd0wxtm8] {
    font-weight: 700 !important;
}


element.style[b-vofd0wxtm8] {
}

.btn:not(:disabled):not(.disabled)[b-vofd0wxtm8] {
    cursor: pointer;
}

.btn.btn-primary[b-vofd0wxtm8] {
    color: #3D464D !important;
}

button:not(:disabled)[b-vofd0wxtm8], [type="button"]:not(:disabled)[b-vofd0wxtm8], [type="reset"]:not(:disabled)[b-vofd0wxtm8], [type="submit"]:not(:disabled)[b-vofd0wxtm8] {
    cursor: pointer;
}

.font-weight-bold[b-vofd0wxtm8] {
    font-weight: 700 !important;
}

.pb-3[b-vofd0wxtm8], .py-3[b-vofd0wxtm8] {
    padding-bottom: 1rem !important;
}

.pt-3[b-vofd0wxtm8], .py-3[b-vofd0wxtm8] {
    padding-top: 1rem !important;
}

.btn-block[b-vofd0wxtm8] {
    display: block;
    width: 100%;
}