
img[b-xcrl8yzitk] {
    vertical-align: middle;
    border-style: none;
}

.btn.btn-primary[b-xcrl8yzitk] {
    color: #3D464D !important;
}

.btn-primary:hover[b-xcrl8yzitk] {
    color: #fff;
    background-color: none !important;
    border-color: none !important;
}

a[b-xcrl8yzitk] {
    text-decoration: none;
    background-color: transparent;
}

    a:hover[b-xcrl8yzitk] {
        color: #e6b400;
        text-decoration: underline;
    }

.cus-text-secondary[b-xcrl8yzitk] {
    color: #3D464D;
}

.cus-font-weight[b-xcrl8yzitk] {
    font-weight: 700;
    color: #3D464D;
}