.carousel-caption[b-s2g741jfjb] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61, 70, 77, 0.5);
    z-index: 1;
}

.carousel-indicators[b-s2g741jfjb] {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li[b-s2g741jfjb] {
    width: 15px;
    height: 15px;
    margin: 0 3px 12px 3px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.carousel-indicators li[b-s2g741jfjb] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.cus-icon-fea[b-s2g741jfjb] {
    font-size: x-large;
}

.cus-text-fea[b-s2g741jfjb] {
    color: #3D464D;
    font-weight: 700;
}

.cus-font-weight[b-s2g741jfjb] {
    font-weight: 700;
    color: #3D464D;
}

.product-item[b-s2g741jfjb] {
    transition: .5s;
}

.bg-light[b-s2g741jfjb] {
    background-color: #FFFFFF !important;
}

.position-relative[b-s2g741jfjb] {
    position: relative !important;
}

.overflow-hidden[b-s2g741jfjb] {
    overflow: hidden !important;
}

.text-center[b-s2g741jfjb] {
    text-align: center !important;
}

.product-item .product-img img[b-s2g741jfjb] {
    transition: .5s;
}

.text-primary[b-s2g741jfjb] {
    color: #FFD333 !important;
}

.product-action[b-s2g741jfjb] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.product-action a.btn[b-s2g741jfjb] {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.btn-square[b-s2g741jfjb], .btn-sm-square[b-s2g741jfjb], .btn-lg-square[b-s2g741jfjb] {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-square[b-s2g741jfjb] {
    width: 40px;
    height: 40px;
}
.btn-outline-dark[b-s2g741jfjb] {
    color: #3D464D;
    border-color: #3D464D;
}

.align-items-center[b-s2g741jfjb] {
    align-items: center !important;
}

.justify-content-center[b-s2g741jfjb] {
    justify-content: center !important;
}

.product-action a.btn[b-s2g741jfjb] {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}
.product-item .product-img img[b-s2g741jfjb] {
    transition: .5s;
}

.product-item:hover .product-img img[b-s2g741jfjb] {
    transform: scale(1.2);
}

.product-item:hover[b-s2g741jfjb] {
    box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action[b-s2g741jfjb] {
    background: rgba(256, 256, 256, .7);
}

.product-item:hover .product-action a.btn:first-child[b-s2g741jfjb] {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2)[b-s2g741jfjb] {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3)[b-s2g741jfjb] {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4)[b-s2g741jfjb] {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.product-item .product-img img[b-s2g741jfjb] {
    transition: .5s;
}

.product-item:hover .product-img img[b-s2g741jfjb] {
    transform: scale(1.2);
}

.product-item .btn:hover[b-s2g741jfjb] {
    color: #FFD333 !important;
}

a[b-s2g741jfjb] {
    text-decoration: none;
    background-color: transparent;
}

a:hover[b-s2g741jfjb] {
    color: #e6b400;
    text-decoration: underline;
}
.cus-text-secondary[b-s2g741jfjb] {
    color: #3D464D;
}
.product-offer[b-s2g741jfjb] {
    position: relative;
    overflow: hidden;
}

.product-offer img[b-s2g741jfjb] {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: .5s;
}

.product-offer:hover img[b-s2g741jfjb] {
   transform: scale(1.3) rotate(5deg);
}

.product-offer .offer-text[b-s2g741jfjb] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(61, 70, 77, 0.5);
    z-index: 1;
}

.text-white[b-s2g741jfjb] {
    color: #fff !important;
    font-weight: 700;
}

.text-uppercase[b-s2g741jfjb] {
    text-transform: uppercase !important;
}

.btn-primary:hover[b-s2g741jfjb] {
    color: #212529;
    background-color: #FFD333 !important;
    border-color: #FFD333 !important;
    text-decoration: none;
}

.btn-primary[b-s2g741jfjb] {
    color: #212529;
    background-color: #FFD333;
    border-color: #FFD333;
}

a[b-s2g741jfjb]{
    text-decoration:none !important;
}

