
<div class="container-fluid cus-bg-dark cus-text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="cus-text-secondary text-uppercase mb-4">Liên Lạc</h5>
            <p class="mb-4">Hãy liên lạc ngay với chúng tôi theo địa chỉ</p>
            <p class="mb-2"><i class="oi oi-map-marker cus-text-primary me-3"></i>Ngõ 114, Vũ Trọng Phụng, Thanh Xuân, Hà Nội</p>
            <p class="mb-2"><i class="oi oi-envelope-closed cus-text-primary me-3"></i>Nguyentronghieu4120@gmail.com</p>
            <p class="mb-0"><i class="oi oi-phone cus-text-primary me-3"></i>0354409959</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="cus-text-secondary text-uppercase mb-4">Mua nhanh</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="cus-text-secondary mb-2" href="/">Trang chủ</a>
                        <a class="cus-text-secondary mb-2" href="/shop">Cửa hàng</a>
                        <a class="cus-text-secondary mb-2" href="/cart">Giỏ hàng</a>
                        <a class="cus-text-secondary" href="/contact">Liên hệ</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="cus-text-secondary text-uppercase mb-4">Tài khoản của tôi</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="cus-text-secondary mb-2" href="/">Trang chủ</a>
                        <a class="cus-text-secondary mb-2" href="/shop">Cửa hàng</a>
                        <a class="cus-text-secondary mb-2" href="/cart">Giỏ hàng</a>
                        <a class="cus-text-secondary" href="/contact">Liên hệ</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h6 class="cus-text-secondary text-uppercase mt-4 mb-3">Theo dõi chúng tôi</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square me-2" href="#"><i class="oi oi-header"></i></a>
                        <a class="btn btn-primary btn-square me-2" href="#"><i class="oi oi-heart"></i></a>
                        <a class="btn btn-primary btn-square me-2" href="#"><i class="oi oi-info"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="oi oi-camera-slr"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left cus-text-secondary">
                &copy; <a class="cus-text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="cus-text-primary" href="https://htmlcodex.com">HIEU_NT</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
</div>


