@using DATN.Services
@using DATN.Model
@inject IJSRuntime js

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<nav class="navbar navbar-expand-lg bg-dark  navbar-dark py-lg-0 px-0">
    <a href="" class="text-decoration-none d-block plr mt-1">
        <img src="./img/log_img.png" />
    </a>
    <AuthorizeView>
        <Authorized>
            <div class=" ml-auto py-0 d-lg-block cus-icon mt-1">
                <a @onclick="pass_data_to_cart" class="btn ps-0">
                    <i class="oi oi-cart cus-text-primary cus-font-size-20"></i>
                    <span class="badge cus-top cus-text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse justify-content-between mt-1" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
            <a href="shop.html" class="nav-item nav-link">Cửa Hàng</a>
            <a href="detail.html" class="nav-item nav-link">Thông Tin</a>
            <a href="contact.html" class="nav-item nav-link">Liên Hệ</a>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="navbar-nav nav-item m-3">
                    <h4 class="pe-3">Xin chào, @context.User.Identity.Name </h4>
                    <a @onclick="Logout" class="btn btn-sm cus-text-dark cus-bg-primary">Đăng xuất</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="navbar-nav nav-item m-3">
                    <a href="/login" class="btn btn-sm cus-text-dark cus-bg-primary">Đăng nhập</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>
<div class="col-8 offset-2 p-sm-3 mt-3">
    <SearchBox></SearchBox>
</div>
@code {
    [Inject]
    private IRedirectSevices? iredir { get; set; }
    [Inject]
    private IAccountServices? acs { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private async Task Logout()
    {
        var customAuthStateProvider = (Authentication)authStateProvider;
        await customAuthStateProvider.UpdateAuthentincationState(null);
        navManager.NavigateTo("/", true);
    }

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "bg-dark";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }  
    private async void pass_data_to_cart()
    {
        var authState = await authenticationStateTask;
        string user = authState.User.Identity.Name;
        var getUser = await acs.GetCurrentCustomerByName(user);
        string customer_id = getUser.customer_id.ToString();
        Dictionary<string, string> passData = new Dictionary<string, string>
            {
                {"customer_id", customer_id},
            };
        iredir.RedirectParameter("cart", passData);
    }
}
