@page "/contact"

<PageTitle>Liên hệ</PageTitle>
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <EditForm Model="m_Feedback" OnValidSubmit="btn_add_feedback">
                    <DataAnnotationsValidator />
                    
                    <div class="form-group">
                        <label class="mb-2" for="message">Họ tên</label>
                        <div class="form-group ">
                            <ValidationMessage For="@(() => m_Feedback.user_name)" />
                        </div>
                        <InputText @bind-Value="m_Feedback.user_name" type="text" class="form-control mb-3" id="name" />
                    </div>
                    
                    <div class="form-group">
                        <label class="mb-2" for="message">Email</label>
                        <div class="form-group ">
                            <ValidationMessage For="@(() => m_Feedback.email)" />
                        </div>
                        <InputText @bind-Value="m_Feedback.email" type="email" class="form-control mb-3" id="email" />
                    </div>
                    
                    <div class="form-group">
                        <label class="mb-2" for="message">Nội dung tin nhắn</label>
                        <div class="form-group ">
                            <ValidationMessage For="@(() => m_Feedback.message)" />
                        </div>
                        <InputTextArea @bind-Value="m_Feedback.message" type="text" class="form-control mb-2" id="subject" />
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Gửi</button>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.825764677035!2d105.80592835049293!3d20.99962029407969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac9829b29617%3A0x8291d9de43e082a!2zxJAuIFbFqSBUcuG7jW5nIFBo4bulbmcsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1672059575606!5m2!1svi!2s" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="oi oi-location text-primary me-3"></i>Đường Vũ Trọng Phụng, Quận Thanh Xuân, Thành phố Hà Nội</p>
                <p class="mb-2"><i class="oi oi-envelope-closed text-primary me-3"></i>Hieu41@gmail.com</p>
                <p class="mb-2"><i class="oi oi-phone text-primary me-3"></i>+012 345 67890</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<RadzenNotification />