@page "/ShopInfo"

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ms-lg-5">
                    <img style="width:500px; height:400px;" src="./img/img2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>Thông tin về chúng tôi</h4>
                    <span>Cửa hàng được khai trương 20/11/2022 tại ngõ 114 Vũ Trọng Phụng Than Xuân Hà Nội</span>
                    <div class="quote cus-quote">
                        <i class="oi oi-double-quote-serif-left"></i><p>Đằng sau thành công của một con người không thể thiếu một cuốn sách gối đầu. Sách là kho báu tri thức của cả nhân loại, là kết tinh trí tuệ qua bao thế hệ con người. Một cuốn sách hay chính là chìa khóa quan trọng để mỗi con người có thể chinh phục mọi khó khăn và chạm đến thành công.</p>
                    </div>
                    <p>Cửa hàng cũng có hẳn một trang tin tức về sách rất chuyên nghiệp và được cập nhật thường xuyên 24/7 những thông tin về sách, các tác giả, các nhà xuất bản, trong cũng như ngoài nước. Hướng đi mới của Cửa hàng HieuShop chắc chắn sẽ đem lại những hiệu quả thiết thực trong việc kinh doanh của mình.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Cửa hàng sách HieuShop</h2>
                    <span>Danh mục hàng hóa phong phú, nhiều sản phẩm độc quyền, được chọn lọc kỹ càng đã tạo nên sự khác biệt của Nhà Sách Phương Nam và tạo dựng được lòng tin yêu từ khách hàng.</span>
                    <div class="quote cus-quote">
                        <i class="oi oi-double-quote-serif-left"></i><p>Một quyển sách hay là đời sống xương máu quý giá của một tinh thần ướp hương và cất kín cho mai sau.</p>
                    </div>
                    <p>Với mong muốn cung cấp kiến thức cho mọi người từ nguồn tri thức của nhân loại, góp phần gìn giữ văn hoá đọc, Cửa hàng sách HieuShop đã và đang xây dựng hình ảnh của mình trở thành thương hiệu có uy tín trên thị trường.</p>
                    <p>Cùng với sự tin yêu và mến mộ của khách hàng, Cửa hàng sách HieuShop đã được đánh giá là một trong những đơn vị đi đầu trong lĩnh vực kinh doanh xuất bản phẩm.</p>
                    <div class="btn btn-primary">
                        <a href="/shop" style="text-decoration:none; color: black">Khám phá</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="./img/img1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="./img/img3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="./img/img4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="./img/img5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
